/* rgb 흔들림 전환 효과 */
@keyframes RGB {
  0% {
    filter: none;
  }

  50% {
    filter: drop-shadow(2px 0 red) drop-shadow(-2px 0 blue);
  }

  100% {
    opacity: 0;
    filter: none;
  }
}

.RGB {
  animation: RGB 1s ease-out forwards;
}

/* crt 모니터 전환 효과 */
@keyframes crtOut {
  0% {
    opacity: 1;
    mask-image: linear-gradient(to bottom,
        black 0%,
        transparent 45%,
        transparent 55%,
        black 100%);
  }

  100% {
    opacity: 1;
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
  }
}

.crtOut {
  animation: crtOut 1s ease-in-out forwards;
  mask-image: linear-gradient(to bottom, transparent 30%, black 50%, transparent 70%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

/* 시스템메시지창 흔들림 효과 */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translate(-20px, -5px);
  }

  40% {
    transform: translateX(0px);
  }

  60% {
    transform: translate(20px, 5px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}


.shake {
  animation: shake 0.5s cubic-bezier(0.9, 0.3, 0.53, 1.64) infinite;
}